In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('30ktweet.csv',column='tweets')

TypeError: read_csv() got an unexpected keyword argument 'column'

In [9]:
df.columns=['tweets','sentiments']

In [10]:
df

                                                  tweets  sentiments
0           @robbiebronniman Sounds like a great night.            1
1      Damn the person who stolde my wallet !!!!!  Ma...           1
2      Greetings from the piano bench  (photo) http:/...           1
3      @drewryanscott i love it!! i love you!! haha f...           1
4      @kissthestars Pretty pretty pretty please, pak...           0
...                                                  ...         ...
29995  @Calumfan1 is it in any way related to photosh...           0
29996                   @Swiz_NZ really? wow thats crap            0
29997  At the 2010 lexus HS250h press event.  Again, ...           0
29998  @karmicunderpath ooooh now there's a nice thou...           1
29999  @mariap91 i'd usually ask you about the sun an...           1

[30000 rows x 2 columns]

In [12]:
df['sentiments'].value_counts()

0    15000
1    15000
Name: sentiments, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
def svm(df):
    message=df['tweets']
    y=df['sentiments']

    tfidf=TfidfVectorizer()
    X=tfidf.fit_transform(message)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)
    
    clf=LinearSVC()
    clf.fit(X_train,y_train)
    y_pred=clf.predict(X_test)
    print(classification_report(y_test, y_pred))
    
    return tfidf, clf

In [26]:
%%time
tfidf, clf = svm(df)

              precision    recall  f1-score   support

           0       0.75      0.74      0.75      3000
           1       0.74      0.75      0.75      3000

    accuracy                           0.75      6000
   macro avg       0.75      0.75      0.75      6000
weighted avg       0.75      0.75      0.75      6000

Wall time: 1.44 s

In [27]:
x=['Thank you for your help']